body{
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

.frameworktitle{
    font-size: 48px;
    color:#EB3449;
    font-weight: lighter;
}
.frameworktitle b{
    color:#F45C43;
}
.home a{
    text-decoration: none;
    color: #535362;
    font-size: 18px;
    padding: 10px;
    margin: 25px;
    border-bottom: 2px solid transparent;
}
.home a:hover{
    color:#C62828;
    border-bottom: 2px solid #C62828;
}

.topics h3{
    color:#48A559;
    font-weight: bolder;
    font-size: small;
    text-transform: uppercase;
}
.topics a{
    color: #535362;
    font-size: 16px;
}.topics a:hover{ color:#C62828; text-transform: none; text-decoration: none;}

.hash-toc{
    list-style-image: url('hash.png');
}

.ug-tocs{
    list-style-image: url('hash.png');
}

/** TEXT STYLES **/

.ug-code
{
	border-radius: 5px;
	background-color:#F0F2F1;
	padding: 5px;
	color: #000000;

}
.ug-keyword{
	color:#E23F40;
}
.ug-folder{
	color:#2E7D32;
}
.ug-file{
	color:#E91E63;
}

.ug-type{
	color:#3F51B5;
}
.ug-method{
	color:#E91E63;
	font-weight: bold;
}

.ug-bold{
	font-weight: bold;
}
.graybox{
    background-color: #FAFAFA;
    color:#313140;
    border-radius: 8px;
    border: 1px solid #BDBDBD;
    padding: 12px;
    word-wrap: break-word;
    
}

.bck_link{
    color:#000000;
    font-size: large;
}
.bck_link a {
    color:#000000;
    text-decoration: none;

}
